.signup-color
{
    color: black;
}
.jumbo-edit
{
    background-color: #eee;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
}
.jumbodiv-edit
{
    background-color: #eee;
} 
.login{
    padding-left: 60px;
    padding-right: 60px;
}
